.imgtotext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    border: 0.12rem;
}

.imagelabel{
    margin: 2rem;
    display: flex;
    align-items: center;
}

.convertedimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.buttonSubmit{
    background-color: #ba61b8;
    color: white;
    width: 120px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: 30px;
    margin-right: 70px;
    margin-bottom: 30px;
    font-size: 12px;
    cursor: pointer;
}

.buttondiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.dropdowndiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}